body {
	margin:0;
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	overflow: hidden;
}

div.tooltip {   
    position: absolute;         
    text-align: left;           
    width: auto;              
    height: 60px;                  
    padding: 5px;               
    font: 12px sans-serif;      
    background: white;  
    border: 0px;    
    font-size: 14px;    
    border-radius: 3px;         
    pointer-events: none;
    box-shadow: 4px 12px 10px #888888;      
}

.tooltip {   
    position: absolute;         
    text-align: left;           
    width: auto;              
    height: 60px;                  
    padding: 5px;               
    font: 12px sans-serif;      
    background: white;  
    border: 0px;    
    font-size: 14px;    
    border-radius: 3px;         
    pointer-events: none;
    box-shadow: 4px 12px 10px #888888;      
}


h2 {
	color:white;
	font-size: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 4%;
	align-items: center;
	background-image: linear-gradient(to top, rgba(125, 125, 125,.6), rgba(125, 125, 125,1));
	box-shadow:5px 5px 5px #e8e8e8;
	margin-bottom: 5px;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: space-between;
	width: 100%;
	height: 94%;
	padding-bottom: 1px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3%;
	background-color: rgba(125, 125, 125,1);
	margin-top: -10px;
}


#left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 99%;
	width: 27%;
}

#control-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 17%;
	width: 100%;
	margin-bottom: 15px;
	padding-top: 10px;
}

#selects {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	height: 23%;
	width: 100%;

}

#selects label {
	padding-right: 6px;
}

#control-title {
	height: 10%;
	width: 100%;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}

#sorts {
	border-radius: 4px;
	box-shadow:5px 5px 5px #e8e8e8;
	height: 100%;
	margin-right:1%;
}

#genScat {
	border-radius: 4px;
	box-shadow:5px 5px 5px #e8e8e8;
	height: 100%;
	margin-left:1%;
}

#seeMore {
	border-radius: 4px;
	box-shadow:5px 5px 5px #e8e8e8;
	width: 28%;
	height: 4%;
	margin-top:3%;
	margin-bottom: 3%;
}

#controls {
	height: 22px;
	width: 85%;
	font-size: 14px;
}

#bars {
	height: 80%;
	width: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 99%;
	width: 44%;
	justify-content: flex-start;
	padding: none;
	margin: none;
}

.sct {
	padding:none;
	margin: none;
	border:none;
}


#scatter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	padding:none;
	margin: none;
	height: 78%;
	width: 100%;
	margin-bottom: 5px;
	box-shadow: 3px 3px 12px #888888;  

}

.tabs {
	height: 100%;
	width: 85%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.mid-control {
	height: 5%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.explain {
	width: 100%;
	position: relative;
	z-index: -4;
	display: flex;
	flex-direction: column;
	height: 13%;
	width: 97%;
	background-color: white;
	border-radius: 3px;
	text-align: left;
	vertical-align: top;
	padding: 2%;
	border: 2px solid #e8e8e8;
}

.tablink {
	width: 18%;
	height: 95%;
	background-color:#e8e8e8;
	color:gray;

	margin-top: 2px;
	margin-right: 7px;
	margin-left: 1px;
	margin-bottom: none;

	border-right: 2px solid #e8e8e8;
	border-left: 2px solid #e8e8e8;
	border-top: 2px solid #e8e8e8;
	border-bottom: none;
/*	outline:2px solid #e8e8e8;*/
}

.tablink-selected {
	width: 18%;
	height: 95%;
	background-color:white;
	color:gray;

	margin-top: 2px;
	margin-right: 7px;
	margin-left: 1px;
	margin-bottom: none;

	border-right: 2px solid #e8e8e8;
	border-left: 2px solid #e8e8e8;
	border-top: 2px solid #e8e8e8;

	padding-bottom: 8px
	border-bottom:2px solid white;
/*	outline:2px solid #e8e8e8;*/
}


.content {
	display: none;
	width: 100%;
	padding: 1%;
	height:90%;
}

#right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 27%;
}


#right-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 12%;
	width: 80%;
	padding-bottom: 10px;
	padding-top: 10px;
}


#sml-mpls {
	height: 82%;
	width: 96%;
	vertical-align: center;
	overflow-y:auto;
}

.barcode {
	border: 2px solid white;
}

.barcode:hover {
	border: 2px solid gray;
}

.clicked {
	border: 2px solid gray;
}

.nope {
	border: 3px solid blue;
}

.linez {
	border: 2px solid white;
	margin-bottom: 20px;
	padding: 2px;
}

.linez:hover {
	border: 2px solid gray;
}



#slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 10%;
}

.miniGuy {
	border: 2px solid white;
}

.miniGuy:hover {
	border: 2px solid gray;
}

.bar:hover {
	opacity: .6;
}


.go {
	align-self: right;
	width: 15%;
	height: 100%;
	border-radius: 3px;
	background-color: rgba(125, 125, 125, 1);
	color:white;
}

/*#welcome-scatter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: white;
	font-size: 16px;
	color: gray;
	text-align: center;
	border-radius: 5px;
	transform: translateY(15);
}

*/