<!DOCTYPE html>
<html lang="en-US">
<html>
<head>
	<title>PIXAL Demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#">

	<link rel="stylesheet" href="../static/css/scorpion.css">
	<link rel="stylesheet" href="../static/css/slide.css">
	<script type="text/javascript" src = "../static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../static/js/nouislider.min.js"></script>
	<script type="text/javascript" src = "../static/js/d3.v4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
</head>
<body>
	
	<div class = "container">

		<!-- The very tippy top header portion with the title -->
		<header>
			<nav></nav>
			<h2>PIXAL<h2>
			<nav></nav>
		</header>
		<main>

			<!-- Everything on the left including bars and it's controls -->
			<div id = "left">

				<!-- This is the whole controls above the bars viz -->
				<div id = control-container>
					<p id="control-title">Target variable Z-Scores</p>
					<div id="controls" style="color:black";></div>
					<div id="selects">
<!-- 						<label style="color:gray; font-size:14px;" for="sorts">Sort by: </label> -->
						<select id = "sorts">
							<option>Sort by:</option>
							<option>Target variable name</option>
							<option>Most anomalies</option>
						</select>
						<button id = "genScat">Generate projection</button>
					</div>
				</div>
				
				<!-- Barcode viz -->
				<div id="bars"></div>

			</div>

			<!-- Scatter plot AND the tabs at the bottom. everything in the middle -->
			<div class = "middle">

				<!-- The whole scatter plot -->
				<div id = "scatter">
					<div id= "welcome-scatter">
						<p>Welcome to PIXAL</p>
						<p>Select a feature from the left "barcode" panel to start.</p>
					</div>
				</div>

			<!-- 	These are the little tab guys themselves -->
				<div class = "mid-control">
					<div class = "tabs"></div>
					<button class = "go">Run model</button>
				</div>

				<!-- Div below the tabs themselves. Content changes dynamically via tabs.js -->
				<div class = "explain">
					<p id = "welcome-tab" style="padding-left: 20px;">Select variables from the left panel to start</p>
				</div>
				
			</div>

			<!-- The whole right panel -->
			<div id = "right">
				<!-- Place holder -->
				<div id="right-controls">Predicate ranges:</div>

				<!-- The line chart viz's -->
				<div id = "sml-mpls">
				</div>
			</div>

		</main>

		<footer>
			<p style = "font-size: 12px; color:white;">Our awesome in-progress prototype</p>
		</footer>
	</div>

	</div>


</body>
</html>

</script>

<!-- These are the js files that hold the d3 for the viz's themselves. There's one per 
line.js = the line charts on the right panel -->
<script type="text/javascript" src="../static/js/scatter.js"></script>
<script type="text/javascript" src="../static/js/bars.js"></script>

<!-- <script type="text/javascript" src="../static/js/lines.js"></script>
<script type="text/javascript" src="../static/js/button.js"></script> -->
<script type="text/javascript" src="../static/js/tabs.js"></script>